<body >
  <div class="container-fluid " style="margin-top: 100px; background-color: rgba(244, 243, 235, 0.31);">
   <div  class="container  top-50 start-50 rounded-3 ">
    <form class="d-flex  w-100 p-4 px-4" role="search">
      <label for="searchQuery" class="form-label">Search for a recipe</label> 
      <input class="form-control me-1 p-2" style="border: 2px solid rgb(5, 135, 23);" type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone:true}">
     <button class="btn btn-success" type="button" (click)="getRecipes()">Get recipes</button>
    </form>
   </div>
  
  <div class="d-flex justify-content-around flex-wrap" >
    <div class="container top-50">
      <div class="row">
        <article class="d-inline p-2 align-items-center col-sm-4 " style="color: brown ;" *ngFor="let recipe of allRecipes">
          <h2> <a [routerLink]="'recipe/'+recipe.idref" routerLinkActive="active">{{recipe.label}}</a></h2>
          <img class="card-img-top d-inline p-2 align-items-center"  style="width: 200px;" [src]="recipe.image" [alt]="recipe.label">
          <p style="text-transform: uppercase; padding: 4px; font-weight: 800;">Here are the ingredients of the meal</p>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredientLines">{{ingredient}}</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
  </div> 
 
  
  
</body>